---
http_interactions:
- request:
    method: get
    uri: https://data.fcc.gov/api/block/find?format=json&latitude=34.05&longitude=-118.25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Proxy-Agent:
      - Sun-Java-System-Web-Server/7.0
    body:
      encoding: UTF-8
      string: '{"Block":{"FIPS":"060372073012003"},"County":{"FIPS":"06037","name":"Los
        Angeles"},"State":{"FIPS":"06","code":"CA","name":"California"},"status":"OK","executionTime":"11"}'
  recorded_at: Sun, 26 Jan 2014 05:57:38 GMT
recorded_with: VCR 2.8.0
