---
http_interactions:
- request:
    method: get
    uri: http://data.fcc.gov/api/block/find?format=json&latitude=34.05&longitude=-118.25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Proxy-Agent:
      - Sun-Java-System-Web-Server/7.0
    body:
      encoding: US-ASCII
      string: ! '{"Block":{"FIPS":"060372073012003"},"County":{"FIPS":"06037","name":"Los
        Angeles"},"State":{"FIPS":"06","code":"CA","name":"California"},"status":"OK","executionTime":"11"}'
  recorded_at: Fri, 13 Dec 2013 13:46:20 GMT
recorded_with: VCR 2.7.0
