---
http_interactions:
- request:
    method: get
    uri: http://getcitydetails.geobytes.com/GetCityDetails?fqcn=12.12.12.12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"geobytescertainty":"66","geobytesinternet":"US","geobytescountry":"United
        States","geobytesregionlocationcode":"USNY","geobytesregion":"New York","geobytescode":"NY","geobyteslocationcode":"USNYNYOR","geobytescity":"New
        York","geobytescityid":"10182","geobytesfqcn":"New York, NY, United States","geobyteslatitude":"40.748798","geobyteslongitude":"-73.984596","geobytescapital":"Washington,
        DC ","geobytestimezone":"-05:00","geobytesnationalitysingular":"American","geobytespopulation":"278058881","geobytesnationalityplural":"Americans","geobytesmapreference":"North
        America ","geobytescurrency":"US Dollar","geobytescurrencycode":"USD","geobytestitle":"The
        United States"}'
  recorded_at: Sat, 11 Apr 2015 19:52:37 GMT
recorded_with: VCR 2.9.3
