---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/postalCodeSearch?maxRows=10&placename=Adelaide&username=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="UTF-8" standalone="no"?>

        <geonames>

        <totalResultsCount>178</totalResultsCount>

        <code>

        <postalcode>5000</postalcode>

        <name>Adelaide</name>

        <countryCode>AU</countryCode>

        <lat>-34.92686</lat>

        <lng>138.59995</lng>

        <adminCode1>SA</adminCode1>

        <adminName1>South Australia</adminName1>

        <adminCode2/>

        <adminName2>SA CITY SUBS</adminName2>

        <adminCode3/>

        <adminName3/>

        </code>

        <code>

        <postalcode>5001</postalcode>

        <name>Adelaide</name>

        <countryCode>AU</countryCode>

        <lat>-34.93333</lat>

        <lng>138.6</lng>

        <adminCode1>SA</adminCode1>

        <adminName1>South Australia</adminName1>

        <adminCode2/>

        <adminName2>SA CITY SUBS</adminName2>

        <adminCode3/>

        <adminName3/>

        </code>

        <[...]
