---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=toledo&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic,p=0.002
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Toledo",
                       "short_name" : "Toledo",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Lucas County",
                       "short_name" : "Lucas County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Ohio",
                       "short_name" : "OH",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Toledo, OH, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.732844,
                          "lng" : -83.4547053
                       },
                       "southwest" : {
                          "lat" : 41.580266,
                          "lng" : -83.69423700000002
                       }
                    },
                    "location" : {
                       "lat" : 41.6639383,
                       "lng" : -83.55521200000001
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.732844,
                          "lng" : -83.4547053
                       },
                       "southwest" : {
                          "lat" : 41.580266,
                          "lng" : -83.69423700000002
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
       [...]
