---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=via%20Sandro%20Pertini%208,%20Ossona,%20MI&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "8",
                       "short_name" : "8",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Via Sandro Pertini",
                       "short_name" : "Via Sandro Pertini",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Mesero",
                       "short_name" : "Mesero",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "[...]
