---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=112%20Elm%20St,Georgetown,WV&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"112\",\n               \"short_name\"
        : \"112\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Elm Street\",\n               \"short_name\"
        : \"Elm St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Georgetown\",\n               \"short_name\"
        : \"Georgetown\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Essex\",\n
        \              \"short_name\" : \"Essex\",\n               \"types\" : [ \"administrative_area_level_2\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Massachusetts\",\n               \"short_name\" : \"MA\",\n               \"types\"
        : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            },\n
        \           {\n               \"long_name\" : \"01833\",\n               \"short_name\"
        : \"01833\",\n               \"types\" : [ \"postal_code\" ]\n            }\n
        \        ],\n         \"formatted_address\" : \"112 Elm Street, Georgetown,
        MA 01833, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n
        \              \"northeast\" : {\n                  \"lat\" : 42.7120337,\n
        \                 \"lng\" : -70.989632\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 42.7120261,\n                  \"lng\" :
        -70.98964719999999\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 42.7120261,\n               \"lng\" : -70.989632\n
        \           },\n            \"location_type\" : \"RANGE_INTERPOLATED\",\n
        \           \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\"
        : 42.71337888029149,\n                  \"lng\" : -70.98829061970849\n               },\n
        \              \"southwest\" : {\n                  \"lat\" : 42.7106809197085,\n
        \                 \"lng\" : -70.9909885802915\n               }\n            }\n
        \        },\n         \"partial_match\" : true,\n         \"types\" : [ \"street_address\"
        ]\n      },\n      {\n         \"address_components\" : [\n            {\n
        \              \"long_name\" : \"112\",\n               \"short_name\" : \"112\",\n
        \              \"types\" : [ \"street_number\" ]\n            },\n            {\n
        \              \"long_name\" : \"Elm Street\",\n               \"short_name\"
        : \"Elm St\",\n               \"types\" : [ \"route\" ]\n            },\n
        \        [...]
