---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=San%20Francisco,%20CA&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "San Francisco",
                       "short_name" : "SF",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "San Francisco County",
                       "short_name" : "San Francisco County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "California",
                       "short_name" : "CA",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "San Francisco, CA, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 37.9297707,
                          "lng" : -122.3279148
                       },
                       "southwest" : {
                          "lat" : 37.6933354,
                          "lng" : -123.1077733
                       }
                    },
                    "location" : {
                       "lat" : 37.7749295,
                       "lng" : -122.4194155
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 37.812,
                          "lng" : -122.3482
                       },
                       "southwest" : {
                          "lat" : 37.70339999999999,
                          "lng" : -122.527
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 26 Jan 2014 05:47:13 GMT
recorded_with: VCR 2.8.0
