---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=100%20Spear%20St%20Apt.%205,%20San%20Francisco,%20CA,%2094105,%20US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "5",
                       "short_name" : "5",
                       "types" : [ "subpremise" ]
                    },
                    {
                       "long_name" : "100",
                       "short_name" : "100",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Spear Street",
                       "short_name" : "Spear St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "San Francisco",
   [...]
