---
http_interactions:
- request:
    method: get
    uri: http://maps.google.com/maps/api/geocode/json?address=Syracuse&region=it&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Syracuse",
                       "short_name" : "Syracuse",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Onondaga",
                       "short_name" : "Onondaga",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "New York",
                       "short_name" : "NY",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Syracuse, NY, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 43.0861018,
                          "lng" : -76.07408409999999
                       },
                       "southwest" : {
                          "lat" : 42.984366,
                          "lng" : -76.20447600000001
                       }
                    },
                    "location" : {
                       "lat" : 43.0481221,
                       "lng" : -76.14742439999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 43.0861018,
                          "lng" : -76.07408409999999
                       },
                       "southwest" : {
                          "lat" : 42.984366,
                          "lng" : -76.20447600000001
                       }
                    }
                 },
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [[...]
