---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/74.125.237.209
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"as":"AS15169 Google Inc.","city":"Mountain View","country":"United
        States","countryCode":"US","isp":"Google","lat":37.4192,"lon":-122.0574,"org":"Google","query":"74.125.237.209","region":"CA","regionName":"California","status":"success","timezone":"America/Los_Angeles","zip":"94043"}'
  recorded_at: Sat, 23 Sep 2017 04:34:33 GMT
recorded_with: VCR 3.0.3
