---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/1714+14th+Street+NW,+Washington,+DC.json?access_token=pk.eyJ1IjoiZ2Vva2l0IiwiYSI6ImNpbm1md3dvdTB6anB0dG0zbW9zd3hlODQifQ.dyskNcYK8DvxyjCO3i7afA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"5f74c0aa7657d0f9681e0179ab3ebb53"'
      Last-Modified:
      - Fri, 29 Apr 2016 17:17:06 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Reset:
      - '1461978343'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":["1714","14th","street","nw","washington","dc"],"features":[{"id":"address.75018674165319","type":"Feature","text":"14th
        St NW","place_name":"1714 14th St NW, Washington, District of Columbia 20009,
        United States","relevance":0.999,"properties":{},"center":[-77.031952,38.913184],"geometry":{"type":"Point","coordinates":[-77.031952,38.913184],"interpolated":true},"address":"1714","context":[{"id":"city.20001","text":"Washington"},{"id":"postcode.7725140869021840","text":"20009"},{"id":"province.6884744206035790","text":"District
        of Columbia"},{"id":"country.12862386938302570","text":"United States","short_code":"us"}]},{"id":"address.9831827761295","type":"Feature","text":"14th
        St NW","place_name":"14th St NW, Washington, District of Columbia 20005, United
        States","relevance":0.699,"properties":{},"center":[-77.031949,38.904122],"geometry":{"type":"Point","coordinates":[-77.031949,38.904122]},"context":[{"id":"city.20001","text":"Washington"},{"id":"postcode.6357608463978320","text":"20005"},{"id":"province.6884744206035790","text":"District
        of Columbia"},{"id":"country.12862386[...]
