---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/-77.032458,38.913175.json?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"990fe72d1269b3087771d373ba1b92ad"'
      Last-Modified:
      - Wed, 05 Aug 2015 17:05:43 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '598'
      X-Rate-Limit-Reset:
      - '1438794403'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":[-77.032458,38.913175],"features":[{"id":"address.75018674165319","type":"Feature","text":"14th
        St NW","place_name":"1712 14th St NW, Washington, 20009, District of Columbia,
        United States","relevance":1,"center":[-77.03195228861863,38.91313455636009],"geometry":{"type":"Point","coordinates":[-77.03195228861863,38.91313455636009]},"bbox":[-77.03261199999999,38.91112899999999,-77.03183899999996,38.92880499999998],"address":1712,"properties":{},"context":[{"id":"city.20001","text":"Washington"},{"id":"postcode.1308149819","text":"20009"},{"id":"province.1190806886","text":"District
        of Columbia"},{"id":"country.4150104525","text":"United States"}]},{"id":"city.20001","type":"Feature","text":"Washington","place_name":"Washington,
        20009, District of Columbia, United States","relevance":1,"center":[-77.0364,38.8951],"geometry":{"type":"Point","coordinates":[-77.0364,38.8951]},"bbox":[-77.1197590084041,38.80311299006593,-76.90939299,3[...]
