---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/Washington,+DC.json?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"68acbd95bd4b36ee26faa707a34f1631"'
      Last-Modified:
      - Wed, 05 Aug 2015 16:44:17 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1438793117'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":["washington","dc"],"features":[{"id":"city.20001","type":"Feature","text":"Washington","place_name":"Washington,
        20004, District of Columbia, United States","relevance":0.999,"center":[-77.0364,38.8951],"geometry":{"type":"Point","coordinates":[-77.0364,38.8951]},"bbox":[-77.1197590084041,38.80311299006593,-76.90939299,38.99554800807594],"properties":{},"context":[{"id":"postcode.858369517","text":"20004"},{"id":"province.1190806886","text":"District
        of Columbia"},{"id":"country.4150104525","text":"United States"}]},{"id":"province.1190806886","type":"Feature","text":"District
        of Columbia","place_name":"District of Columbia, United States","relevance":0.49,"center":[-77.009289,38.909152],"geometry":{"type":"Point","coordinates":[-77.009289,38.909152]},"bbox":[-77.11975899999999,38.79164499999999,-76.90939299999997,38.99554799999999],"prop[...]
