---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/District+of+Columbia.json?access_token=pk.eyJ1IjoiZ2Vva2l0IiwiYSI6ImNpbm1md3dvdTB6anB0dG0zbW9zd3hlODQifQ.dyskNcYK8DvxyjCO3i7afA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Reset:
      - '1476092693'
      Last-Modified:
      - Sat, 08 Oct 2016 20:41:24 GMT
      Etag:
      - '"5308502a7f73289748f66fa980fd2bab"'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":["district","of","columbia"],"features":[{"id":"province.6884744206035790","type":"Feature","text":"District
        of Columbia","place_name":"District of Columbia, United States","relevance":0.99,"properties":{},"bbox":[-77.2081379659453,38.7177026348658,-76.909393,38.995548],"center":[-76.990661,38.89657],"geometry":{"type":"Point","coordinates":[-76.990661,38.89657]},"context":[{"id":"country.12862386938302570","text":"United
        States","short_code":"us"}]},{"id":"country.8835466214338060","type":"Feature","text":"Colombia","place_name":"Colombia","relevance":0.3233333333333333,"properties":{"short_code":"co"},"bbox":[-81.837165383,-4.227109972,-66.851922971,14.571956242],"center":[-73.073215,3.900749],"geometry":{"type":"Point","coordinates":[-73.073215,3.900749]}},{"id":"city.2344293","type":"Feature","text":"Of","place_name":"Of,
        Trabzon, Turkey","relevance":0.3233333333333333,"properties":{},"bbox":[40.262833,40.924538,40.275879[...]
