---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/1714+14th+Street+NW,+Washington,+DC.json?access_token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"990fe72d1269b3087771d373ba1b92ad"'
      Last-Modified:
      - Wed, 05 Aug 2015 17:05:43 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Remaining:
      - '599'
      X-Rate-Limit-Reset:
      - '1438794402'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":["1714","14th","street","nw","washington","dc"],"features":[{"id":"address.75018674165319","type":"Feature","text":"14th
        St NW","place_name":"1714 14th St NW, Washington, 20009, District of Columbia,
        United States","relevance":0.9989999999999999,"center":[-77.031952,38.913184],"geometry":{"type":"Point","coordinates":[-77.031952,38.913184],"interpolated":true},"bbox":[-77.03261199999999,38.91112899999999,-77.03183899999996,38.92880499999998],"address":"1714","properties":{},"context":[{"id":"city.20001","text":"Washington"},{"id":"postcode.1308149819","text":"20009"},{"id":"province.1190806886","text":"District
        of Columbia"},{"id":"country.4150104525","text":"United States"}]},{"id":"address.9831827761295","type":"Feature","text":"14th
        St NW","place_name":"14th St NW, Washington, 20005, District of Columbia,
        United States","relevance":0.7323333333333333,"center":[-77.031949,38.904122],"geometry":{"type":"Point","coordinates":[-77.031949,38.904122]},"b[...]
