---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/-77.032458,38.913175.json?access_token=pk.eyJ1IjoiZ2Vva2l0IiwiYSI6ImNpbm1md3dvdTB6anB0dG0zbW9zd3hlODQifQ.dyskNcYK8DvxyjCO3i7afA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"5f74c0aa7657d0f9681e0179ab3ebb53"'
      Last-Modified:
      - Fri, 29 Apr 2016 17:17:06 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Reset:
      - '1461978344'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":[-77.032458,38.913175],"features":[{"id":"address.75018674165319","type":"Feature","text":"14th
        St NW","place_name":"1712 14th St NW, Washington, District of Columbia 20009,
        United States","relevance":1,"properties":{},"center":[-77.03195228861863,38.91313455636009],"geometry":{"type":"Point","coordinates":[-77.03195228861863,38.91313455636009]},"address":1712,"context":[{"id":"city.20001","text":"Washington"},{"id":"postcode.7725140869021840","text":"20009"},{"id":"province.6884744206035790","text":"District
        of Columbia"},{"id":"country.12862386938302570","text":"United States","short_code":"us"}]},{"id":"city.20001","type":"Feature","text":"Washington","place_name":"Washington,
        20009, District of Columbia, United States","relevance":1,"properties":{},"bbox":[-77.1197590084041,38.8031129900659,-76.90939299,38.9955480080759],"center":[-77.0366,38.895],"geometry":{"type":"Point","coordinates":[-77.0366,38.895]},"context":[{"id":"postcode.7725140869021840","text":"20009"},{"id":"province.6884744206035790","text":"District
        of Columbia"},{"id":"country.12862386938302570","text":"United States","short_code":"us"}]},{"id":"postcode.7725140869021840","type":"Feature","text":"20009","place_name":"20009,
        District of Columbia, United States","r[...]
