---
http_interactions:
- request:
    method: get
    uri: https://api.tiles.mapbox.com/v4/geocode/mapbox.places-v1/Washington,+DC.json?access_token=pk.eyJ1IjoiZ2Vva2l0IiwiYSI6ImNpbm1md3dvdTB6anB0dG0zbW9zd3hlODQifQ.dyskNcYK8DvxyjCO3i7afA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.geo+json; charset=utf-8
      Etag:
      - '"306cdd4db6ec8ddb50a1cdf4160311cb"'
      Last-Modified:
      - Fri, 29 Apr 2016 17:17:06 GMT
      X-Rate-Limit-Interval:
      - '60'
      X-Rate-Limit-Limit:
      - '600'
      X-Rate-Limit-Reset:
      - '1461978342'
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","query":["washington","dc"],"features":[{"id":"city.20001","type":"Feature","text":"Washington","place_name":"Washington,
        20004, District of Columbia, United States","relevance":0.999,"properties":{},"bbox":[-77.1197590084041,38.8031129900659,-76.90939299,38.9955480080759],"center":[-77.0366,38.895],"geometry":{"type":"Point","coordinates":[-77.0366,38.895]},"context":[{"id":"postcode.5938390858952870","text":"20004"},{"id":"province.6884744206035790","text":"District
        of Columbia"},{"id":"country.12862386938302570","text":"United States","short_code":"us"}]},{"id":"province.6884744206035790","type":"Feature","text":"District
        of Columbia","place_name":"District of Columbia, United States","relevance":0.49,"properties":{},"bbox":[-77.2081379659453,38.7177026348658,-76.909393,38.995548],"center":[-76.990661,38.89657],"geometry":{"type":"Point","coordinates":[-76.990661,38.89657]},"context":[{"id":"country.12862386938302570","text":"United
        States","short_code":"us"}]},{"id":"city.39246","type":"Feature","text":"Washington","place[...]
