---
http_interactions:
- request:
    method: get
    uri: https://api.opencagedata.com/geocode/v1/json?key=someopencageapikey&no_annotations=1&query=100%20Spear%20St,%20San%20Francisco,%20CA,%2094105,%20US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Ratelimit-Remaining:
      - '2468'
      X-Ratelimit-Reset:
      - '1409788800'
      X-Ratelimit-Limit:
      - '2500'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"licenses":[{"name":"CC-BY-SA","url":"http://creativecommons.org/licenses/by-sa/3.0/"},{"name":"ODbL","url":"http://opendatacommons.org/licenses/odbl/summary/"}],"rate":{"limit":2500,"remaining":2468,"reset":1409788800},"results":[{"bounds":{"northeast":{"lat":37.7923419,"lng":-122.394032},"southwest":{"lat":37.7922419,"lng":-122.394132}},"components":{"bank":"Wells
        Fargo","city":"San Francisco","country":"United States of America","country_code":"US","county":"San
        Francisco City and County","house_number":100,"neighbourhood":"Financial District","postcode":94103,"road":"Spear
        Street","state":"California"},"confidence":10,"formatted":"100, Spear Street,
        Financial District, San Francisco, San Francisco City and County, 94103, California,
        United States of America, Wells Fargo","geometry":{"lat":37.7922919,"lng":-122.394082}},{"bounds":{"northeast":{"lat":37.7923695,"lng":-122.3937501},"southwest":{"lat":37.7919565,"lng":-122.3942877}},"components":{"city":"San
        Francisco","country":"United States of America","country_code":"US","county":"San
        Francisco City and County","house_number":100,"neighbourhood":"Financial District","postcode":94103,"road":"Spear
        Street","state":"California"},"confidence":10,"formatted":"100, Spear Street,
        Financial District, San Francisco, San Francisco City and County, 94103, California,
        United States of America","geometry":{"lat":37.79215775,"lng":-122.393995576645}},{"bounds":{"northeast":{"lat":37.7923685,"lng":-122.3939964},"southwest":{"lat":37.7922685,"lng":-122.3940964}},"components":{"atm":"Wells
        Fargo","city":"San Francisco","country":"United States of America","country_code":"US","county":"San
        Francisco City and County","house_number":100,"neighbourhood":"Financial District","postcode":94103,"road":"Spear
        Street","state":"California"},"confidence":10,"formatted":"100, Spear Street,
        Financial District, San Francisco, San Francisco City and County, 94103, California,
        United States of America, Wells Fargo","geometry":{"lat":37.7923185,"lng":-122.3940464}},{"components":{"country_name":"United
        States","locality":"San Francisco","region":"CA","street_name":"Spear St","street_number":100},"confidence":0,"formatted":"San
        Francisco, CA, United States, Spear St, 100","geometry":{"lat":37.792536,"lng":-122.39406}},{"bounds":{"northeast":{"lat":37.796628,"lng":-122.385181},"southwest":{"lat":37.784205,"lng":-122.403431}},"components":{"country":"United
        States","county":"San Francisco County","postal code":94105,"state":"California"},"confidence":8,"formatted":"San
        Francisco County, California, United States, 94105","geometry":{"lat":37.7864,"lng":-122.3892}}],"status":{"code":200,"message":"OK"},"thanks":"For
        using an OpenCage Data API","timestamp":{"created_http":"Wed, 03 Sep 2014
        13:51:27 GMT","created_unix":1409752287},"total_results":5,"we_are_hiring":"http://lokku.com/#jobs"}'
  recorded_at: Wed, 03 Sep 2014 13:46:30 GMT
recorded_with: VCR 2.9.2
