---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=austin&components=administrative_area:il%7Ccountry:us&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Austin, Chicago, IL, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.9167209,
                          "lng" : -87.7393898
                       },
                       "southwest" : {
                          "lat" : 41.8654591,
                          "lng" : -87.7755992
                       }
                    },
                    "location" : {
                       "lat" : 41.8929529,
                       "lng" : -87.7615618
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.9167209,
                          "lng" : -87.7393898
                       },
                       "southwest" : {
                          "lat" : 41.8654591,
                          "lng" : -87.7755992
                       }
                    }
                 },
                 "place_id" : "ChIJdwbE5kkzDogRoC0zoIn43-o",
                 "types" : [ "neighborhood", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin Township",
                       "short_name" : "Austin Township",
                       "types" : [ "administrative_area_level_3", "political" ]
                    },
                    {
                       "long_name" : "Macon County",
                     [...]
