---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=austin&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Travis County",
                       "short_name" : "Travis County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Texas",
                       "short_name" : "TX",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Austin, TX, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 30.516863,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.938383
                       }
                    },
                    "location" : {
                       "lat" : 30.267153,
                       "lng" : -97.74306079999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 30.516863,
                          "lng" : -97.56841989999999
                       },
                       "southwest" : {
                          "lat" : 30.0986589,
                          "lng" : -97.938383
                       }
                    }
                 },
                 "place_id" : "ChIJLwPMoJm1RIYRetVp1EtGm10",
                 "types" : [ "locality", "political" ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "Austin",
                       "short_name" : "Austin",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Jennings Township",
                       "short_name" : "Jennings Township"[...]
