---
http_interactions:
- request:
    method: get
    uri: https://maps.google.com/maps/api/geocode/json?address=S%C3%A3o%20Paulo&components=administrative_area:s%C3%A3o%20paulo%7Ccountry:br&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "results": [
            {
              "address_components": [
                {
                  "long_name": "São Paulo",
                  "short_name": "São Paulo",
                  "types": [
                    "locality",
                    "political"
                  ]
                },
                {
                  "long_name": "São Paulo",
                  "short_name": "São Paulo",
                  "types": [
                    "administrative_area_level_2",
                    "political"
                  ]
                },
                {
                  "long_name": "State of São Paulo",
                  "short_name": "SP",
                  "types": [
                    "administrative_area_level_1",
                    "political"
                  ]
                },
                {
                  "long_name": "Brazil",
                  "short_name": "BR",
                  "types": [
                    "country",
                    "political"
                  ]
                }
              ],
              "formatted_address": "São Paulo, State of São Paulo, Brazil",
              "geometry": {
                "bounds": {
                  "northeast": {
                    "lat": -23.3566039,
                    "lng": -46.3650844
                  },
                  "southwest": {
                    "lat": -24.0082209,
                    "lng": -46.825514
                  }
                },
                "location": {
                  "lat": -23.5505199,
                  "lng": -46.63330939999999
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                  "northeast": {
                    "lat": -23.3566039,
                    "lng": -46.3650844
                  },
                  "southwest": {
                    "lat": -24.0082209,
                    "lng": -46.825514
                  }
                }
              },
              "place_id": "ChIJ0WGkg4FEzpQRrlsz_whLqZs",
              "types": [
                "locality",
                "political"
              ]
            }
          ],
          "status": "OK"
        }
  recorded_at: Wed, 03 Apr 2019 22:15:01 GMT
recorded_with: VCR 4.0.0
