---
http_interactions:
- request:
    method: get
    uri: https://api.woosmap.com/localities/geocode?address=Aveneu%20Claude%20Vellefaux,%2075010%20Paris&components=country:fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"types": ["route"], "formatted_address": "Avenue Claude
        Vellefaux, 75010, Paris", "geometry": {"location": {"lat": 48.87415, "lng":
        2.370488}, "location_type": "GEOMETRIC_CENTER"}, "address_components": [{"short_name":
        "FR", "long_name": "France", "types": ["country", "administrative_area_level_0"]},
        {"short_name": "Paris", "long_name": "Paris", "types": ["locality"]}, {"short_name":
        "75010", "long_name": "75010", "types": ["postal_codes"]}, {"short_name":
        "Avenue Claude Vellefaux", "long_name": "Avenue Claude Vellefaux", "types":
        ["route"]}]}]}'
  recorded_at: Thu, 25 May 2023 11:16:56 GMT
recorded_with: VCR 6.1.0
