---
http_interactions:
- request:
    method: get
    uri: https://api.woosmap.com/localities/geocode?address=Place%20Georges-Pompidou,%2075004%20Paris&components=country:fr
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"results": [{"types": ["route"], "formatted_address": "Place Georges
        Pompidou, 75004, Paris", "geometry": {"location": {"lat": 48.860307, "lng":
        2.351132}, "location_type": "GEOMETRIC_CENTER"}, "address_components": [{"short_name":
        "FR", "long_name": "France", "types": ["country", "administrative_area_level_0"]},
        {"short_name": "Paris", "long_name": "Paris", "types": ["locality"]}, {"short_name":
        "75004", "long_name": "75004", "types": ["postal_codes"]}, {"short_name":
        "Place Georges Pompidou", "long_name": "Place Georges Pompidou", "types":
        ["route"]}]}]}'
  recorded_at: Thu, 25 May 2023 11:24:20 GMT
recorded_with: VCR 6.1.0
