---
http_interactions:
- request:
    method: get
    uri: https://yboss.yahooapis.com/geo/placefinder?flags=J&oauth_consumer_key=dj0yJmk9cXByQVN2WHZmTVhDJmQ9WVdrOVZscG1WVWhOTldrbWNHbzlNakF6TlRJME16UTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD0zNg--&oauth_nonce=731410e6df&oauth_signature=%2Bde/2eYXvMPhoRu5MUdjhPct3xY=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1384355278&oauth_version=1.0&q=San%20Francisco,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"bossresponse":{"responsecode":"200","placefinder":{"start":"0","count":"1","request":"flags=J&q=San%20Francisco%2C%20CA","results":[{"quality":"40","latitude":"37.77713","longitude":"-122.41964","offsetlat":"37.77713","offsetlon":"-122.41964","radius":"8800","name":"","line1":"","line2":"San
        Francisco, CA","line3":"","line4":"United States","house":"","street":"","xstreet":"","unittype":"","unit":"","postal":"","neighborhood":"","city":"San
        Francisco","county":"San Francisco County","state":"California","country":"United
        States","countrycode":"US","statecode":"CA","countycode":"","uzip":"94102","hash":"","woeid":"2487956","woetype":"7"}]}}}'
  recorded_at: Wed, 13 Nov 2013 15:07:58 GMT
recorded_with: VCR 2.7.0
