---
http_interactions:
- request:
    method: get
    uri: https://yboss.yahooapis.com/geo/placefinder?flags=J&oauth_consumer_key=dj0yJmk9cXByQVN2WHZmTVhDJmQ9WVdrOVZscG1WVWhOTldrbWNHbzlNakF6TlRJME16UTJNZy0tJnM9Y29uc3VtZXJzZWNyZXQmeD0zNg--&oauth_nonce=7a0ce94e38&oauth_signature=aTamhmDusxM4xYZXWocDEb5YmyE=&oauth_signature_method=HMAC-SHA1&oauth_timestamp=1384355278&oauth_version=1.0&q=100%20Spear%20St,%20San%20Francisco,%20CA,%2094105-1522,%20US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"bossresponse":{"responsecode":"200","placefinder":{"start":"0","count":"1","request":"flags=J&q=100%20Spear%20St%2C%20San%20Francisco%2C%20CA%2C%2094105-1522%2C%20US","results":[{"quality":"87","latitude":"37.792332","longitude":"-122.393791","offsetlat":"37.792198","offsetlon":"-122.393898","radius":"400","name":"","line1":"100
        Spear St","line2":"San Francisco, CA 94105-1578","line3":"","line4":"United
        States","house":"100","street":"Spear St","xstreet":"","unittype":"","unit":"","postal":"94105-1578","neighborhood":"","city":"San
        Francisco","county":"San Francisco County","state":"California","country":"United
        States","countrycode":"US","statecode":"CA","countycode":"","uzip":"94105","hash":"0FA06819B5F53E75","woeid":"12797156","woetype":"11"}]}}}'
  recorded_at: Wed, 13 Nov 2013 15:07:59 GMT
recorded_with: VCR 2.7.0
